body {
    background-image: url("/images/body.gif");
}

div {
    margin-left: 7% ;
    margin-right: 7% ;
}

#wrapper {
    background-image: url("/images/content.gif");
    border-style: ridge;
    border-width: 10px;
    border-color: lemonchiffon;
}

a {
    text-decoration: none;
    color: mediumpurple;
}

p {
    color: steelblue;
}

h1 {
    color: lightblue;
}

h2 {
    background-image: url("/images/line.gif");
    background-repeat: repeat-x;
}

h2, h3, h4, h5, h6 {
    color:lightsteelblue;
}

img {
    opacity: .8;
    float: left;
}

img:hover {
    opacity: 1
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Arial Black", Gadget, sans-serif;
}

ul {
    list-style-type: none;
    /* just threw this little image together*/
    margin-left: 10%;
    margin-right: 15%;
    padding: 0px;
}

li {
    display: inline;
}

ul a {
    border-style: groove;
    border-color: lemonchiffon;
    padding: 5px;
    text-align: center;
}